<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="restassured_day4.createuser_APIChaining"/>
      <class name="restassured_day4.Getuser_APIChaninng"/>
      <class name="restassured_day4.Updateuser_APIChaining"/>
      <class name="restassured_day4.DeleteUser"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
